/* Color Pallet
color: #ecfcff;
color: #b2fcff;
color: #5edfff;
color: #3e64ff;
https://colorhunt.co/palette/159617
*/

body {
    background-color: #ecfcff;
    font-family: 'Poppins', sans-serif;
    margin: 5vh 0 0 0;
    font-size:  12px;
}

/* HEADER & NAVBAR */
header {
    background-color: #b2fcff;
    display: flex;
    flex-direction: row;
    height: 3vh;
    justify-content: space-between;
    left: 0;
    padding: 1vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    color: #3e64ff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    border-radius: 2%;
    color: #5edfff;
}

#header-img {
    height: 3vh;
    margin-left: 2vw;
}

#nav-bar {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2vw;
    width: 30%;
}

/* MAIN */
h1 {
    font-size: 2rem;
    text-align: center;
}

main {
    margin: auto;
    width: 60%;
}

/* - BUTTONS */

.button {
	background-color:#fbe555;
    border-width: 0;
    border-radius:5%;
	display: block;
	cursor:pointer;
	color:black;
	font-size: 1rem;
    font-weight:bold;
    margin: 0 auto;
    padding: 1% 1.5%;
	text-decoration:none;
}
.button:hover {
	background-color:#fb9224;
}

.button:active {
	position:relative;
	top:1px;
}

.unclickable-button {
    background-color: lightgray;
    border-width: 0;
    border-radius:5%;
	display: block;
	cursor:pointer;
	color:black;
	font-size: 1rem;
    font-weight:bold;
    margin: 0 auto;
    padding: 1% 1.5%;
	text-decoration:none;
}

/* - FORM */
#email {
    display: block;
    margin: 1% auto;
    padding: 5px;
    width: 30%;
}

#form {
    padding-bottom: 2%;
}

/* - FEATURES */
.feature-icon {
    display: block;
    margin: auto;
    max-height: 100px;
    max-width: 100px;
}

.feature-icon-container {
    flex-basis: 10%;
}

.feature-description {
    flex-basis: 85%;
}

.feature-item {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-text {
    font-size: 1rem;
    width: 80%;
}

#features {
    padding: 2%;
}

/* - VIDEO */

#time-to-play {
    padding: 2%;
}

#video {
    display: block;
    margin: auto;
}

/* - PRICING/PRODUCT */
li.available {
    color: green;
}

li.unavailable {
    color: red;
}

.product-benefit {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}
 
.product-benefits-list {
    list-style-type: none;
    margin: 0;
    padding: 5% 0;
}

.product-description {
    background-color: #5edfff;
    border: 1px solid black;
    border-radius: 2%;
    flex-basis: 30%;
}

.product-items {
    background-color: #ecfcff;
    padding: 2%;
}

.product-title {
    font-size: 1.1rem;
    margin: 3% auto;
    padding: 0;
    text-align: center;
}

#pricing {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2%;
}

/* FOOTER */

footer {
    background-color:#b2fcff;
    margin: auto;
    padding: 1%;
    width: 60%;
}

.footer-text {
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
}
