/* Color Pallet
color: #ecfcff;
color: #b2fcff;
color: #5edfff;
color: #3e64ff;
https://colorhunt.co/palette/159617
*/

body {
    background-color: #ecfcff;
    font-family: 'Poppins', sans-serif;
    margin: 3vh 0 0 0;
    font-size: 12px;
}

@media only screen and (max-width: 767px) {
    body {
        margin-top: 20vh;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape){
    body {
        margin-top: 25vh;
    }
}

/* HEADER & NAVBAR */
header {
    align-items: center;
    background-color: #b2fcff;
    display: flex;
    flex-direction: row;
    height: 3vh;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.nav-link {
    color: #3e64ff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    color: #5edfff;
}

#header-img {
    height: 3vh;
    width: auto;
}

#nav-bar {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-right: 2vw;
    width: 30%;
}

@media only screen and (max-width: 767px) {
    /* HEADER & NAVBAR FOR MOBILE DEVICES */
    header{
        flex-direction: column;
        height: 20vh;
    }

    .nav-link{
        text-align: center;
    }

    #header-img {
        height: 10vh;
    }

    #nav-bar {
        flex-flow: column nowrap;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape){
    header {
        height: 25vh;
    }
}

/* MAIN */
h1 {
    font-size: 2rem;
    text-align: center;
}

main {
    margin: auto;
    width: 60%;
}


@media only screen and (max-width: 767px){
    main {
        width: 100vw;
    }
}
/* - BUTTONS */

.button {
	background-color:#fbe555;
    border-width: 0;
    border-radius:5%;
	display: block;
	cursor:pointer;
	color:black;
	font-size: 1rem;
    font-weight:bold;
    margin: 0 auto;
    padding: 1% 1.5%;
	text-decoration:none;
}
.button:hover {
	background-color:#fb9224;
}

.button:active {
	position:relative;
	top:1px;
}

.unclickable-button {
    background-color: lightgray;
    border-width: 0;
    border-radius:5%;
	display: block;
	cursor:pointer;
	color:black;
	font-size: 1rem;
    font-weight:bold;
    margin: 0 auto;
    padding: 1% 1.5%;
	text-decoration:none;
}

/* - FORM */
#email {
    display: block;
    margin: 1% auto;
    padding: 5px;
    width: 30%;
}

#form {
    padding-bottom: 2%;
}

/* - FEATURES */
.feature-description {
    flex-basis: 85%;
}

.feature-icon {
    display: block;
    margin: auto;
    max-height: 100px;
    max-width: 100px;
}

.feature-icon-container {
    flex-basis: 10%;
}

.feature-item {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.feature-text {
    font-size: 1rem;
    text-align: justify;
    width: 80%;
}

.feature-title {
    text-align: start;
    font-size: 1.5rem;
}

#features {
    padding: 2%;
}

@media only screen and (max-width: 767px){
/* - FEATURES */
    .feature-description{
        flex-basis: 100%;
    }

    .feature-icon {
        display: none;
    }

    .feature-icon-container {
        flex-basis: 0%;
    }

    .feature-item {
        align-items: center;
    }

    .feature-text {
        margin: auto;
        text-align: justify;
    }

    .feature-title {
        text-align: center;
    }
}
/* - VIDEO */

#time-to-play {
    padding: 2%;
}

#video {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 767px){
   /* - VIDEO */
    
   #video {
       width: 96%;
       height: auto;
   }
}

/* - PRICING/PRODUCT */
li.available {
    color: green;
}

li.unavailable {
    color: red;
}

.product-benefit {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}
 
.product-benefits-list {
    list-style-type: none;
    margin: 0;
    padding: 5% 0;
}

.product-description {
    background-color: #5edfff;
    border: 1px solid black;
    border-radius: 2%;
    flex-basis: 30%;
}

.product-items {
    background-color: #ecfcff;
    padding: 2%;
}

.product-title {
    font-size: 1.1rem;
    margin: 3% auto;        
    padding: 0;
    text-align: center;
}

#pricing {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2%;
}

@media only screen and (max-width: 767px){
    /* - PRICING/PRODUCT */
    
    .product-description {
        flex-basis: auto;
        height: 30%;
        width: 80%;
        margin: 2.5% 0;
    }

    #pricing {
        flex-flow: column nowrap;
    }
}

/* FOOTER */

footer {
    background-color:#b2fcff;
    margin: auto;
    padding: 1%;
    width: 60%;
}

.footer-text {
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
}

@media only screen and (max-width: 767px){
    /* FOOTER */
    footer {
        margin: 0;
        width: 98%;
    }

    .footer-text {
        width: 100%;
    }
}